body {
  margin: auto;
  text-align: center;
  padding: 0 0 30px 0;
  background-color: #070707;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

hr {
  border: 10px dotted;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  max-width: 5%;
  border-color: #064389;
  margin: 100px auto;
}

header {
  font-size: 2rem;
  padding: 200px 0 200px 0;
  line-height: 2;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}
header h2 {
  font-weight: lighter;
}

.main-content h3 {
  font-size: 2rem;
}
.main-content p {
  font-size: 1.2rem;
}

.contact-icons {
  margin-bottom: 50px;
}
.contact-icons .icon-link {
  width: 60px;
  margin: auto 50px auto 50px;
}
.contact-icons .fa-file-alt {
  font-size: 60px;
  margin: auto 50px auto 50px;
}
.contact-icons .contact-icon {
  display: inline-block;
}
.contact-icons .contact-icon p {
  font-size: 1rem;
}

.github-icon {
  background-color: white;
  border-radius: 100%;
}

.li-icon {
  border-radius: 13%;
}

a {
  margin: auto 10px auto 10px;
}
a .fa-file-alt {
  color: #fdf5e8;
  font-size: 40px;
  opacity: 0.7;
  vertical-align: top;
}
a .icon-link {
  width: 40px;
  opacity: 0.7;
}
a .icon-link:hover {
  transform: scale(1.1);
  opacity: 1;
}
a .icon-link:active {
  transform: scale(1.2);
  opacity: 0.8;
}

.welcome-div {
  line-height: 2;
  margin: auto;
  max-width: 50em;
}
.welcome-div h3 {
  margin-top: 0;
}

.skills-div {
  background-color: #070707;
  margin: 0;
}
.skills-div .skill-div {
  display: inline-block;
  margin: auto 20px 10px 20px;
  line-height: 0.5;
  opacity: 0.8;
}
.skills-div .skill-div img {
  width: 50px;
}
.skills-div .skill-div i {
  font-size: 50px;
}
.skills-div .skill-div .fa-android {
  color: #3ddc84;
}
.skills-div .skill-div .fa-bootstrap {
  color: blue;
}
.skills-div .skill-div .fa-css3-alt {
  color: #264de4;
}
.skills-div .skill-div .fa-code {
  color: #064389;
}
.skills-div .skill-div .fa-js {
  color: #f0db4f;
}
.skills-div .skill-div .fa-database {
  color: #00758f;
}
.skills-div .skill-div .fa-dumbell {
  color: grey;
}
.skills-div .skill-div .fa-landmark {
  color: #FFFCF0;
}
.skills-div .skill-div .fa-book-open {
  color: #F2DCB1;
}
.skills-div .skill-div .german-flag {
  border: 1px white solid;
}
.skills-div .skill-div:hover {
  transform: scale(1.2);
  opacity: 1;
}

.project-div {
  background-color: #064389;
  margin: 20px;
  display: inline-block;
  width: 20rem;
  vertical-align: top;
  border: 5px #064389 outset;
  padding: 5px 10px;
  opacity: 0.8;
  border-radius: 5%;
}
.project-div h4 {
  margin-top: 5px;
  margin-bottom: 30px;
  height: 2rem;
  font-size: 1.2rem;
}
.project-div .icon-link {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
  opacity: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.project-div .project-content {
  height: 13rem;
}
.project-div .project-content p {
  font-size: 1.1rem;
}

.project-div:hover {
  transform: scale(1.1);
  opacity: 1.5;
}

.contact-div {
  margin: 0px;
  background-color: #070707;
}

@media (max-width: 480px) {
  header {
    padding: 50px 0 50px 0;
  }

  .welcome-div {
    padding: 10px;
  }

  hr {
    max-width: 20%;
  }

  .project-div {
    margin-right: 1px;
    margin-left: 1px;
  }
}

/*# sourceMappingURL=styles.css.map */
